<div all-inputs-disabled="formMode != 'New'">
    <div class="row fields">
        <div class="col-md-3 col-xs-4">
            <h4>{{f.DateRequested.FieldDisplayName}}</h4>
            <datetime-picker ng-disabled="formMode != 'New'" ng-required="true" format="calendarFormat" ng-model="f.DateRequested.Value" />
        </div>

        <div class="col-md-3 col-xs-4">
            <h4>{{f.OfficeRoom.FieldDisplayName}}</h4>
            <input type='text' maxlength='254' id='OfficeRoom' ng-disabled="formMode != 'New'" ng-required="true" name='OfficeRoom' ng-model="f.OfficeRoom.Value" class='full-width' ng-if='CurrentUserPartOfWorkflow' />
        </div>

        <div class="col-md-3 col-xs-4">
            <h4>{{f.ContactPerson.FieldDisplayName}}</h4>
            <div ng-required='true' ui-people ng-model="f.ContactPerson.user" ng-disabled="formMode != 'New'" pp-is-multiuser="{{false}}" pp-width="220px" 
            pp-account-type="User" id="ContactPerson"
            ng-if='CurrentUserPartOfWorkflow'></div>
        </div>

        <div class="col-md-3 col-xs-4">
            <h4>{{f.PhoneNumber.FieldDisplayName}}</h4>
            <input type='text' maxlength='254' id='PhoneNumber' ng-disabled="formMode != 'New'" name='PhoneNumber' ng-model="f.PhoneNumber.Value"  class='full-width' ng-required="true" 
            ng-if='CurrentUserPartOfWorkflow' />
        </div>
    </div>

    <div class="row fields">
        <div class="col-md-3">
            <h4>{{f.DateOfUse.FieldDisplayName}}</h4>
            <datetime-picker format="calendarFormat" ng-model="f.DateOfUse.Value" ng-required="true" ng-disabled="formMode != 'New'" />
        </div>

        <div class="col-md-3 col-xs-6">
            <h4>Reservation Time</h4>
            <span class='time-span'><b>{{f.StartTime.FieldDisplayName}}</b></span><div uib-timepicker ng-change='updateTime()' ng-model="f.StartTime.Value" id="StartTime" ng-required="true" ng-disabled="formMode != 'New'" show-spinners='false'></div> <br>
            <span class='time-span'><b>{{f.EndTime.FieldDisplayName}}</b></span><div uib-timepicker ng-change='updateTime()' ng-model="f.EndTime.Value"  id="EndTime" ng-required="true" ng-disabled="formMode != 'New'" show-spinners='false'></div>
        </div> 
        <div class="col-md-3 col-xs-6">
            <h4>AC Time</h4>             
            <span class='time-span'><b>{{f.AcFrom.FieldDisplayName}}</b></span><div uib-timepicker name='AcFrom' ng-model="f.AcFrom.Value" id="AcFrom"  ng-disabled="formMode != 'New'" show-spinners='false'></div> <br>
            <span class='time-span'><b>{{f.AcTo.FieldDisplayName}}</b></span><div uib-timepicker name='AcTo' ng-model="f.AcTo.Value" id="AcTo"  ng-disabled="formMode != 'New'" show-spinners='false'></div> <br>
           
            <span ng-show="mainForm.AcFrom.$pristine == false">If requested A/C during non-office hours: <b>$50/hr to be paid by the requestor</b></span>
        </div>
            
        <div class="col-md-3">
            <h4>Room/Chamber</h4>
            <select ng-required="true" data-ng-model="f.UseOfRoomOrChamber.Value" name="{{f.UseOfRoomOrChamber.FieldInternalName}}" class="selectpicker">
                <option ng-repeat="option in f.UseOfRoomOrChamber.Choices">{{option}}</option>
            </select>
        </div>
    </div>

    <div class="row fields">
        <div class="col-md-3 col-xs-6">
            <h4>{{f.RoomPurpose.FieldDisplayName}}</h4>
            <input type='text' maxlength='254' id='RoomPurpose' ng-disabled="formMode != 'New'" ng-required="true" name='RoomPurpose' ng-model="f.RoomPurpose.Value" class='full-width' ng-if='CurrentUserPartOfWorkflow'/>
        </div>
        <div class="col-md-3 col-xs-6">
            <h4>{{f.NumberOfAttendees.FieldDisplayName}}</h4>
            <input type="number" ng-model="f.NumberOfAttendees.Value" min="0" max="999" ng-disabled="formMode != 'New'" id="NumberOfAttendees" ng-required="true" class="full-width"/>
        </div>

        <div class="col-md-6">
            <h4>{{f.OptionalApproverRoom.FieldDisplayName}}</h4>
            <div ng-disabled="formMode != 'New'" ui-people ng-model="f.OptionalApproverRoom.user" pp-is-multiuser="{{false}}" pp-width="220px"
                pp-account-type="User" id="OptionalApproverRoom"></div>
        </div>
       
        <div class="col-md-12 non-printable" ng-if='CurrentUserPartOfWorkflow'>
            <h4>Relevant documents:</h4>
            <file-uploader control-id="'RoomDetailsUploader'" 
            attachment-filter-field-name="'ConferenceID'"
            show-display-name-field="false" ng-disabled="formMode != 'New'" attachment-doc-folder-name="'Conference'" />
        </div>
    </div>
 </div>
<hr>
<div ng-show="formMode != 'New'">
    <h3><b>Official Use</b></h3>
    <!-- OPTIONAL APPROVAL --> 
    <div ng-show="f.OptionalApproverRoom.Value"> 
        <div class="row fields" >
            <div class="col-md-6">
                <h4>{{f.OptionalApproval.FieldDisplayName}}</h4>
                <radio-field field="f.OptionalApproval" ng-required='OptionalApproverCanEditNow'
                ng-disabled="OptionalApproverCanEditNow != true"></radio-field>
            </div>
            <div class="col-md-6">
                <h4>{{f.OptionalApproverUser.FieldDisplayName}}</h4>
                <span>{{f.OptionalApproverUser.user.Title}}</span>
            </div>
        </div>

        <div class="row fields">
            <div class="col-md-6">
                <h4>{{f.OptionalApproverComments.FieldDisplayName}}</h4>
                <textarea ng-model="f.OptionalApproverComments.Value" ng-disabled="OptionalApproverCanEditNow != true"></textarea>
            </div>

            <div class="col-md-6" ng-show="moment(f.OptionalApproverDate.Value).format('DD-MMMM-YYYY') != 'Invalid date'">
                <h4>Approval Date</h4>
                {{ moment(f.OptionalApproverDate.Value).format('DD-MMMM-YYYY')}}
            </div>
        </div>
    </div>
    
    <!-- ROOM APPROVAL -->   
    <div ng-hide='OptionalStage'> 
        <div class="row fields" >
            <div class="col-md-6">
                <h4>{{f.RoomApproval.FieldDisplayName}}</h4>
                <radio-field field="f.RoomApproval" ng-disabled="RoomApproverCanEditNow != true" ng-required='RoomApproverCanEditNow'></radio-field>
            </div>
            <div class="col-md-6" ng-show="f.AccountingApprover.Value">
                <h4>Approved by</h4>
                {{f.RoomApprover.Value}}
            </div>
        </div> 

        <div class="row fields" >
            <div class="col-md-6">
                <h4>{{f.RoomApproverComments.FieldDisplayName}}</h4>
                <textarea ng-model="f.RoomApproverComments.Value" ng-disabled="RoomApproverCanEditNow != true"></textarea>
            </div>

            <div class="col-md-6" ng-show="moment(f.RoomApproverDate.Value).format('DD-MMMM-YYYY') != 'Invalid date'">
                <h4>Approval Date</h4>
                {{moment(f.RoomApproverDate.Value).format('DD-MMMM-YYYY')}}
            </div>
        </div>
    </div>
</div>
<html xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882"><head>
<!--[if gte mso 9]><xml>
<mso:CustomDocumentProperties>
<mso:FSObjType msdt:dt="string">0</mso:FSObjType>
<mso:Order msdt:dt="string">4000.00000000000</mso:Order>
<mso:FileDirRef msdt:dt="string">sites/forms/Assets/App/Forms/Reservations</mso:FileDirRef>
<mso:ContentTypeId msdt:dt="string">0x010100C7B3FC0CCF96504A85183C2C7358BB4B</mso:ContentTypeId>
<mso:ContentType msdt:dt="string">Document</mso:ContentType>
<mso:FileLeafRef msdt:dt="string">reservationsFields.html</mso:FileLeafRef>
</mso:CustomDocumentProperties>
</xml><![endif]-->
</head>