<!-- T R A V E L   I N F O R M A T I O N --> 
<div class="row fields" id="travel-information-row" all-inputs-disabled="formMode != 'New'"> 
 <br><h3>Travel Information</h3><br>
    <div class='col-md-4 col-xs-6'>
        <!--Traveler | Type: User -->
        <h4>{{f.Traveler.FieldDisplayName}}</h4>
        <div ng-model='f.Traveler.user' id='Traveler' ui-people pp-is-multiuser='{false}' pp-width='220px' pp-account-type='User,DL,SecGroup,SPGroup'
        ng-disabled="formMode != 'New'"
        ng-required="formMode == 'New'"> </div>
    </div>
    <div class='col-md-4 col-xs-6'>
        <!--Departure Date | Type: DateTime -->
        <h4>{{f.DepDate.FieldDisplayName}}</h4>
        <datetime-picker format='calendarFormat' ng-model='f.DepDate.Value' 
        ng-disabled="formMode != 'New'"
        ng-required="formMode == 'New'"> </datetime-picker>
    </div>
    <div class='col-md-4 col-xs-6'>
        <!--Return Date | Type: DateTime -->
        <h4>{{f.RetrnDate.FieldDisplayName}}</h4>
        <datetime-picker format='calendarFormat' ng-model='f.RetrnDate.Value'
        ng-disabled="formMode != 'New'"
        ng-required="formMode == 'New'"/>
    </div>
    <div class='col-md-4 col-xs-6'>
        <!--Type of Travel | Type: Choice -->
        <h4>{{f.TypeTravel.FieldDisplayName}}</h4>
        <radio-field field='f.TypeTravel' id='TypeTravel' name='TypeTravel' class='choice-field'
        ng-disabled="formMode != 'New'"
        ng-required="formMode == 'New'"> </radio-field>
        <div ng-show="f.TypeTravel.Value == 'Home Island'" class='animate'>
            <!--Number of Trips | Type: Choice -->
            <h4>{{f.NumTrips.FieldDisplayName}}</h4>
            <radio-field field='f.NumTrips' id='NumTrips' name='NumTrips' class='choice-field'
            ng-disabled="formMode != 'New'"
            ng-required="formMode == 'New' && f.TypeTravel.Value == 'Home Island'" > </radio-field>
        </div>
    </div>
   
    <div class='col-md-4 col-xs-6'>
        <!--Point of Departure | Type: Text -->
        <h4>{{f.PtDepature.FieldDisplayName}}</h4>
        <input type='text' maxlength='254' id='PtDepature' ng-model='f.PtDepature.Value' class='full-width' 
        ng-disabled="formMode != 'New'"
        ng-required="formMode == 'New'"/>
    </div>
    <div class='col-md-4 col-xs-6'>
        <!--Travel Destination | Type: Text -->
        <h4>{{f.TraDestination.FieldDisplayName}}</h4>
        <input type='text' maxlength='254' id='TraDestination' ng-model='f.TraDestination.Value' class='full-width' 
        ng-disabled="formMode != 'New'"
        ng-required="formMode == 'New'"/>
    </div>
    
</div> <!-- T R A V E L   I N F O R M A T I O N  E N D-->

<!-- T R A V E L  R E Q U E S T   A U T H O  R I Z A T I O N -->
<div class="row fields animate" id="travel-request-authorization-row" 
ng-show="ShowAddionalTravelInfo" 
all-inputs-disabled="formMode != 'New'"> 
    <h3 ng-if="f.TypeTravel.Value != 'Other'">Request for Additional Home Island Travel</h3><br> <!-- (Home Island--Additional) -->
    <h3 ng-if="f.TypeTravel.Value == 'Other'">Travel Request Authorization</h3><br> <!-- (Other)-->
    
    <div class='col-md-12'>
        <!--Purpose of Travel | Type: Choice -->
        <h4>{{f.PurposeTravel.FieldDisplayName}}</h4>
        <radio-field field='f.PurposeTravel' id='PurposeTravel' name='PurposeTravel' class='choice-field' ng-disabled="formMode != 'New'"
        ng-required='ShowAddionalTravelInfo' ></radio-field>
    </div>
    <div class='col-md-3'>
        <!--Type of Travel Name of Event | Type: Text -->
        <h4>Name of Event</h4>
        <input type='text' maxlength='254' id='TypeTravelNmEvent' ng-model='f.TypeTravelNmEvent.Value' class='full-width' ng-required='ShowAddionalTravelInfo'/>
    </div>
    <div class='col-md-3'>
        <!--Type of Travel Sponsoring Organization | Type: Text -->
        <h4>Sponsoring Organization</h4>
        <input type='text' maxlength='254' id='TypeTravelSponOrg' ng-model='f.TypeTravelSponOrg.Value'  class='full-width' />
    </div>
    <div class='col-md-3'>
        <!--Type of Travel Position Held | Type: Text -->
        <h4>Position Held</h4>
        <input type='text' maxlength='254' id='TypeTravelPos' name='TypeTravelPos' ng-model='f.TypeTravelPos.Value'  class='full-width' />
    </div>
    <div class='col-md-3' >
        <!--Number of Trips Number of Days | Type: Text -->
        <h4>Number of Days</h4>
        <input type='number' min='1' id='NumTripNumDays' name='NumTripNumDays' ng-model='f.NumTripNumDays.Value' ng-required='ShowAddionalTravelInfo'/>
    </div>
    <div class='col-md-12'>
        <!--Type of Travel Description | Type: Text -->
        <h4>Description</h4>
        <textarea ng-model="f.TypeTravelDesc.Value" id='TypeTravelDesc'  class='full-width' ng-required='ShowAddionalTravelInfo' ></textarea>
    </div>

</div>  <!-- T R A V E L  R E Q U E S T   A U T H O  R I Z A T I O N  END-->

<!-- E S T I M A T E S   F O R -->
<div class="row fields animate" id="estimates-row" ng-show="ShowEstimates" class='animate' all-inputs-disabled="formMode != 'New'"> 
    <h3>Estimates for</h3><br>
    <div class='col-md-4 col-xs-6'>
        <!--Estimates Airfare | Type: Text -->
        <h4>Airfare</h4>
        <input type='text' maxlength='254' id='EstAirFare' name='EstAirFare' ng-model='f.EstAirFare.Value' class='full-width' ng-currency  placeholder="insert currency value" />
    </div>
    <div class='col-md-4 col-xs-6'>
        <!--Estimates Hotel/Lodging | Type: Text -->
        <h4>Hotel/Lodging</h4>
        <input type='text' maxlength='254' id='EstHotelLod' name='EstHotelLod' ng-model='f.EstHotelLod.Value' class='full-width' ng-currency  placeholder="insert currency value" />
    </div>
    <div class='col-md-4 col-xs-6'>
        <!--Estimates Meals | Type: Text -->
        <h4>Meals</h4>
        <input type='text' maxlength='254' id='EstMeals' name='EstMeals' ng-model='f.EstMeals.Value' class='full-width' ng-currency  placeholder="insert currency value" />
    </div>
    <div class='col-md-4 col-xs-6'>
        <!--Estimates Registration Fee | Type: Text -->
        <h4>Registration Fee</h4>
        <input type='text' maxlength='254' id='EstRegFee' name='EstRegFee' ng-model='f.EstRegFee.Value' class='full-width' ng-currency  placeholder="insert currency value" />
    </div>
    <div class='col-md-4 col-xs-6'>
        <!--Estimates Ground transportation | Type: Text -->
        <h4>Ground transportation</h4>
        <input type='text' maxlength='254' id='EstGrndTrans' name='EstGrndTrans' ng-model='f.EstGrndTrans.Value' class='full-width' ng-currency  placeholder="insert currency value" />
    </div>
    <div class='col-md-4 col-xs-6'>
        <!--Estimates Other Value | Type: Text -->
        <h4>Other</h4>
        <input type='text' maxlength='254' id='EstOtherVal' name='EstOtherVal'  ng-model='f.EstOtherVal.Value' class='full-width' ng-currency  placeholder="insert currency value" />

        <div ng-show="f.EstOtherVal.Value" class='animate'>
            <!--Estimates Other Explanation | Type: Text -->
            <br>
            <input type='text' maxlength='254' id='EstOtherExp' name='EstOtherExp' ng-model='f.EstOtherExp.Value' class='full-width' placeholder='Please explain'/>
        </div>
    </div>
    <div class='col-md-4 col-xs-6 non-printable'>
        <br><i>Travel Details (please include itinerary, invitation, and any related information)</i><br>
        <file-uploader control-id="'TravelDetailsUploader'" show-display-name-field="false" ng-disabled='isTraveler != true' attachment-doc-folder-name="'Details'" />
    </div>
</div> <!-- E S T I M A T E S   F O R END-->

<!-- S E N A T E   P R E S I D E N T   A P P R O V A L  -->
<div ng-show="formMode !='New'">
    <div class="row fields"   id="senate-president-approval-row" ng-show="(f.TypeTravel.Value != 'Home Island' || (f.NumTrips.Value && f.NumTrips.Value != 'Allocated')) &&  f.TypeTravel.Value">  
        <h3>Senate President Approval</h3><br>   
        <div class='col-md-4 col-xs-6'>
            <!--Senate President Approval | Type: Choice -->
            <h4>{{f.SenPresApproval.FieldDisplayName}}</h4>
            <radio-field name='SenPresApproval' field='f.SenPresApproval' ng-disabled="PresidentCanEditNow != true" ng-required='PresidentCanEditNow' id='SenPresApproval' name='SenPresApproval' class='choice-field'> </radio-field>
        </div>
        <div class='col-md-4 col-xs-6' ng-show='f.SenPresName.user'>
            <!--Senate President Name | Type: User -->
            <h4>{{f.SenPresName.FieldDisplayName}}</h4>
            <div name='SenPresName' ng-model='f.SenPresName.user' id='SenPresName' ng-disabled="true" ui-people pp-is-multiuser='{false}' pp-width='220px' pp-account-type='User,DL,SecGroup,SPGroup'> </div>
        </div>
        <div class='col-md-4 col-xs-6' ng-show='f.SenPresName.user'>
            <!--Senate President Date | Type: DateTime -->
            <h4>{{f.SenPresDate.FieldDisplayName}}</h4>
            {{ moment(f.SenPresDate.Value).format('DD-MMMM-YYYY')}}
        </div>
    </div> 
</div><!-- S E N A T E   P R E S I D E N T   A P P R O V A L  END-->

<div ng-hide='PresidentCanEditNow'>
    <!-- R E I M B U R S E M E N T   R E Q U E S T  -->
    <div class="row fields"   id="reimbursement-request-row" all-inputs-disabled="DisableReimbursement">
        <h3>Reimbursement Request</h3>
        <div class='col-md-4 col-xs-6'>
            <!--Reimbursement Airfare | Type: Text -->
            <h4>Airfare</h4>
            <input type='text' maxlength='254' id='ReimAirFare' name='ReimAirFare' ng-model='f.ReimAirFare.Value' class='full-width' ng-currency  placeholder="insert currency value"  />
        </div>
        <div class='col-md-4 col-xs-6'>
            <!--Reimbursement Hotel/Lodging | Type: Text -->
            <h4>Hotel/Lodging</h4>
            <input type='text' maxlength='254' id='ReimAirHotelLod' name='ReimAirHotelLod' ng-model='f.ReimAirHotelLod.Value' class='full-width' ng-currency  placeholder="insert currency value"  />
        </div>
        <div class='col-md-4 col-xs-6'>
            <!--Reimbursement Meals | Type: Text -->
            <h4>Meals</h4>
            <input type='text' maxlength='254' id='ReimAirMeals' id='ReimAirMeals' ng-model='f.ReimAirMeals.Value' class='full-width' ng-currency  placeholder="insert currency value" />
        </div>
        <div class='col-md-4 col-xs-6'>
            <!--Reimbursement Registration Fee | Type: Text -->
            <h4>Registration Fee</h4>
            <input type='text' maxlength='254' id='ReimAirRegFee' name='ReimAirRegFee' ng-model='f.ReimAirRegFee.Value' class='full-width' ng-currency  placeholder="insert currency value" />
        </div>
        <div class='col-md-4 col-xs-6'>
            <!--Reimbursement Ground transportation | Type: Text -->
            <h4>Ground transportation</h4>
            <input type='text' maxlength='254' id='ReimAirGrndTrans' name='ReimAirGrndTrans' ng-model='f.ReimAirGrndTrans.Value' class='full-width' ng-currency  placeholder="insert currency value" />
        </div>
        <div class='col-md-4 col-xs-6'>
            <!--Reimbursement Other Value | Type: Text -->
            <h4>Other</h4>
            <input type='text' maxlength='254' id='ReimAirOtherVal' name='ReimAirOtherVal' ng-model='f.ReimAirOtherVal.Value' class='full-width' ng-currency  placeholder="insert currency value" />
            <div ng-show="f.ReimAirOtherVal.Value">
                <!--Reimbursement Other Explanation | Type: Text -->
                <br>
                <input type='text' maxlength='254' id='ReimAirOtherExp' name='ReimAirOtherExp' ng-model='f.ReimAirOtherExp.Value' class='full-width' placeholder="Please explain" />
            </div>
        </div>
        <div class='col-md-4 col-xs-6 non-printable'>
            <br><i>Expense Details(please include receipts and supporting expenses documentation)</i> 
            <file-uploader control-id="'TravelExpensesUploader'"  ng-disabled='isTraveler != true' show-display-name-field="false" attachment-doc-folder-name="'Expenses'" />
            <br>
        </div>    
    </div> <!-- R E I M B U R S E M E N T   R E Q U E S T  END -->   

    <div ng-show="formMode !='New'">
        <!-- F O R    C L E R K   O N L Y  -->   
        <div class="row fields"   id="clerk-row"> 
        <h3>For Clerk Only</h3><br>
            <div class='col-md-4 col-xs-6'>
                <!--Clerk Approval | Type: Choice -->
                <h4>{{f.ClerkApproval.FieldDisplayName}}</h4>
                <radio-field field='f.ClerkApproval' id='ClerkApproval' ng-required='ClerkCanEditNow' name='ClerkApproval' ng-disabled="ClerkCanEditNow != true"  class='choice-field'> </radio-field>
            </div>
            <div class='col-md-4 col-xs-6' ng-show='f.ClerkName.user'>
                <!--Clerk Name | Type: User -->
                <h4>{{f.ClerkName.FieldDisplayName}}</h4>
                <div ng-model='f.ClerkName.user' id='ClerkName' name='ClerkName' ng-disabled="true" ui-people pp-is-multiuser='{false}' pp-width='220px' pp-account-type='User,DL,SecGroup,SPGroup'> </div>
            </div>
            <div class='col-md-4 col-xs-6' ng-show='f.ClerkName.user'>
                <!--Clerk Date | Type: DateTime -->
                <h4>{{f.ClerkDate.FieldDisplayName}}</h4>
                {{ moment(f.ClerkDate.Value).format('DD-MMMM-YYYY')}}
            </div>

        </div>  <!-- F O R    C L E R K   O N L Y END -->   

        <!-- F O R   A C C O U N T I N G   O N L Y-->   
        <div all-inputs-disabled="AccountingCanEditNow != true" ng-hide='ClerkCanEditNow'>
            <div class="row fields"   id="accounting-row"> 
                <h3>For Accounting Only</h3><br>
                <div class='col-md-4 col-xs-6'>
                    <!--Payment | Type: Text -->
                    <h4>{{f.Payment.FieldDisplayName}}</h4>
                    <input type='text' maxlength='254' id='Payment' name='Payment' ng-model='f.Payment.Value' class='full-width' ng-currency  placeholder="insert currency value"/>
                </div>
                <div class='col-md-4 col-xs-6'>
                    <!--Allowance | Type: Text -->
                    <h4>{{f.Allowance.FieldDisplayName}}</h4>
                    <input type='text' maxlength='254' id='Allowance' name='Allowance' ng-model='f.Allowance.Value' class='full-width' ng-currency  placeholder="insert currency value"/>
                </div>
                <div class='col-md-4 col-xs-6'>
                    <!--Confirmation No(s) | Type: Text -->
                    <h4>{{f.ConfirmationNum.FieldDisplayName}}</h4>
                    <input type='text' maxlength='254' id='ConfirmationNum' name='ConfirmationNum' ng-model='f.ConfirmationNum.Value' class='full-width' />
                </div>
                <div class='col-md-4 col-xs-6'>
                    <!--Airline | Type: Text -->
                    <h4>{{f.Airline.FieldDisplayName}}</h4>
                    <input type='text' maxlength='254' id='Airline' name='Airline' ng-model='f.Airline.Value' class='full-width' />
                </div>
                <div class='col-md-4 col-xs-6'>
                    <!--P.O. No. | Type: Text -->
                    <h4>{{f.PONum.FieldDisplayName}}</h4>
                    <input type='text' maxlength='254' id='PONum' name='PONum' ng-model='f.PONum.Value' class='full-width' />
                </div>
                <div class='col-md-4 col-xs-6'>
                    <!--Issued to | Type: Text -->
                    <h4>{{f.IssuedTo.FieldDisplayName}}</h4>
                    <input type='text' maxlength='254' id='IssuedTo' name='IssuedTo' ng-model='f.IssuedTo.Value' class='full-width' />
                </div>

                <div class="col-md-12">
                    <hr>
                </div>
            </div> 

            <!--ACCOUNTING MONEY-RELATED FIELDS: -->
            <div class="row">   
                <div class="col-md-12"><h4>Airfare</h4></div>
                <div class='col-md-4 col-xs-6'>
                    <!--Airfare Date | Type: DateTime -->                  
                    <datetime-picker format='calendarFormat' name='AirFareDate' ng-model='f.AirFareDate.Value' ng-disabled="AccountingCanEditNow != true"/>
                </div>
                <div class='col-md-4 col-xs-6'>
                    <!--Airfare Amount | Type: Text -->
                    <input type='text' maxlength='254' id='AirFareAmount' name='AirFareAmount' ng-model='f.AirFareAmount.Value' class='full-width' ng-currency  placeholder="insert currency value"  />
                </div>
                <div class='col-md-4 col-xs-6'>
                    <!--Airfare Advice No | Type: Text -->
                    <input type='text' maxlength='254' id='AirFareAdviceNum'  name='AirFareAdviceNum' ng-model='f.AirFareAdviceNum.Value' class='full-width' placeholder="Advice No" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4>Hotel lodging</h4>
                </div>    
                <div class='col-md-4 col-xs-6'>
                    <!--Hotel lodging Date | Type: DateTime -->
                    <datetime-picker format='calendarFormat' name='HotelLodDate' ng-model='f.HotelLodDate.Value' ng-disabled="AccountingCanEditNow != true"/>
                </div>
                <div class='col-md-4 col-xs-6'>
                    <!--Hotel lodging Amount | Type: Text -->
                    <input type='text' maxlength='254' id='HotelLodAmount' name='HotelLodAmount' ng-model='f.HotelLodAmount.Value' class='full-width' ng-currency  placeholder="insert currency value" />
                </div>
                <div class='col-md-4 col-xs-6'>
                    <!--Hotel lodging Advice No | Type: Text -->
                    <input type='text' maxlength='254' id='HotelLodAdviceNum' name='HotelLodAdviceNum' ng-model='f.HotelLodAdviceNum.Value' class='full-width' placeholder="Advice No"/>
                </div>
            </div>
            <div class="row">       
                <div class="col-md-12">
                    <h4>Meals </h4>
                </div> 
                <div class='col-md-4 col-xs-6'>
                    <!--Meals Date | Type: DateTime -->
                    <datetime-picker format='calendarFormat' name='MealsDate'  ng-model='f.MealsDate.Value' ng-disabled="AccountingCanEditNow != true"/>
                </div>
                <div class='col-md-4 col-xs-6'>
                    <!--Meals Amount | Type: Text -->
                    <input type='text' maxlength='254' id='MealsAmount' name='MealsAmount' ng-model='f.MealsAmount.Value' class='full-width' ng-currency  placeholder="insert currency value" />
                </div>
                <div class='col-md-4 col-xs-6'>
                    <!--Meals Advice No | Type: Text -->
                    <input type='text' maxlength='254' id='MealsAdviceNum' name='MealsAdviceNum' ng-model='f.MealsAdviceNum.Value' class='full-width' placeholder="Advice No" />
                </div>
            </div>
            <div class="row">    
                <div class="col-md-12">
                    <h4>Registration Fee</h4>
                </div>
                <div class='col-md-4 col-xs-6'>
                    <!--Registration Fee Date | Type: DateTime -->
                    <datetime-picker format='calendarFormat' name='RegisFeeDate' ng-model='f.RegisFeeDate.Value' ng-disabled="AccountingCanEditNow != true"/>
                </div>
                <div class='col-md-4 col-xs-6'>
                    <!--Registration Fee Amount | Type: Text -->
                    <input type='text' maxlength='254' id='RegisFeeAmount' name='RegisFeeAmount' ng-model='f.RegisFeeAmount.Value' class='full-width' ng-currency  placeholder="insert currency value"  />
                </div>
                <div class='col-md-4 col-xs-6'>
                    <!--Registration Fee Advice No | Type: Text -->
                    <input type='text' maxlength='254' id='RegisFeeAdviceNum' name='RegisFeeAdviceNum' ng-model='f.RegisFeeAdviceNum.Value' class='full-width' placeholder="Advice No"/>
                </div>
            </div>
            <div class="row">     
                <div class="col-md-12">
                    <h4>Ground Transportation</h4>
                </div>
                <div class='col-md-4 col-xs-6'>
                    <!--Ground Transportation Date | Type: DateTime -->
                    <datetime-picker format='calendarFormat' name='GroundTransDate' ng-model='f.GroundTransDate.Value' ng-disabled="AccountingCanEditNow != true"/>
                </div>
                <div class='col-md-4 col-xs-6'>
                    <!--Ground Transportation Amount | Type: Text -->
                    <input type='text' maxlength='254' id='GroundTransAmount' name='GroundTransAmount' ng-model='f.GroundTransAmount.Value' class='full-width' ng-currency  placeholder="insert currency value" />
                </div>
                <div class='col-md-4 col-xs-6'>
                    <!--Ground Transportation Advice No | Type: Text -->
                    <input type='text' maxlength='254' id='GroundTransAdviceNum' name='GroundTransAdviceNum' ng-model='f.GroundTransAdviceNum.Value' class='full-width' placeholder="Advice No"/>
                </div>
            </div>
            <div class="row">     
                <div class="col-md-12">
                    <h4>Other</h4>
                </div>
                <div class='col-md-4 col-xs-6'>
                    <!--Other Date | Type: DateTime -->
                    <datetime-picker format='calendarFormat' name='OtherDate' ng-model='f.OtherDate.Value' ng-disabled="AccountingCanEditNow != true"/>
                </div>
                <div class='col-md-4 col-xs-6'>
                    <!--Other Amount | Type: Text -->
                    <input type='text' maxlength='254' id='OtherAmount' name='OtherAmount' ng-model='f.OtherAmount.Value' class='full-width' ng-currency  placeholder="insert currency value" />
                </div>
                <div class='col-md-4 col-xs-6'>
                    <!--Other Advice No | Type: Text -->
                    <input type='text' maxlength='254' id='OtherAdviceNum' name='OtherAdviceNum' ng-model='f.OtherAdviceNum.Value' class='full-width' placeholder="Advice No"/>
                </div>
            </div>

            <div class="row">  
                <div class='col-md-4 col-xs-6'>
                    <!--Close Process | Type: Boolean -->
                    <h4>{{f.CloseProcess.FieldDisplayName}} <input type='checkbox' name='CloseProcess' ng-model='f.CloseProcess.Value' id='CloseProcess' /></h4>
                </div>
            </div><!-- F O R   A C C O U N T I N G   O N L Y END--> 
        </div>
    </div>
<div><html xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882"><head>
<!--[if gte mso 9]><xml>
<mso:CustomDocumentProperties>
<mso:FSObjType msdt:dt="string">0</mso:FSObjType>
<mso:Order msdt:dt="string">4800.00000000000</mso:Order>
<mso:FileDirRef msdt:dt="string">sites/forms/Assets/App/Forms/Travel</mso:FileDirRef>
<mso:ContentTypeId msdt:dt="string">0x010100C7B3FC0CCF96504A85183C2C7358BB4B</mso:ContentTypeId>
<mso:ContentType msdt:dt="string">Document</mso:ContentType>
<mso:FileLeafRef msdt:dt="string">travelFields.html</mso:FileLeafRef>
</mso:CustomDocumentProperties>
</xml><![endif]-->
</head>