 <div class="row fields">
    <div class="col-md-4 col-xs-6">
        <h4>{{f.Requestor.FieldDisplayName}}</h4>
        <div ng-disabled="formMode != 'New'" ng-required='true' ui-people ng-model="f.Requestor.user" pp-is-multiuser="{{false}}" pp-width="220px" pp-account-type="User" id="Requestor"></div>
    </div>

    <div class="col-md-4 col-xs-6">
        <h4>{{f.Manager.FieldDisplayName}}</h4>
        <div ng-disabled="formMode != 'New'" ng-required='true' ui-people ng-model="f.Manager.user" pp-is-multiuser="{{false}}" pp-width="220px" pp-account-type="User" id="Manager"></div>
    </div>

    <div class="col-md-4 col-xs-6">
        <h4>Optional Approver</h4>
        <div ng-if="formMode != 'New' && ManagerCanEditNow != true" ng-disabled="true"  ui-people ng-model="f.OptionalApproverUser.user" pp-is-multiuser="{{false}}" pp-width="220px"
            pp-account-type="User" id="OptionalApproverUser" 
               ></div>

        <div  ng-if="!(formMode != 'New' && ManagerCanEditNow != true)" ng-disabled="false"  ui-people ng-model="f.OptionalApproverUser.user" pp-is-multiuser="{{false}}" pp-width="220px"
            pp-account-type="User" id="OptionalApproverUser">
        </div>
        
    </div>
</div>
<div class="row fields">
    <div class="col-md-4 col-xs-6">
        <h4>{{f.StartDateSenate.FieldDisplayName}}</h4>
        <datetime-picker ng-disabled="formMode != 'New'" ng-required="true" format="calendarFormat" ng-model="f.StartDateSenate.Value" />
    </div>

    <div class="col-md-4 col-xs-6">
        <h4>{{f.EndDateSenate.FieldDisplayName}}</h4>
        <datetime-picker ng-disabled="formMode != 'New'" ng-required="true" format="calendarFormat" ng-model="f.EndDateSenate.Value"  />
    </div>
    <div class="col-md-4 col-xs-6">
        <h4>Absence duration</h4>
        <input type="number" ng-model="f.NumberOfDays.Value" min="0" ng-disabled="formMode != 'New'" id="NumberOfDays" ng-required="true" /> 
        <choice-field field="f.NumberOfDaysFraction" id="NumberOfDaysFraction" ng-disabled="formMode != 'New'"  ng-required="true"> </choice-field> hours
    </div>
</div>

<div class="row fields">
    <div class="col-md-3 col-xs-6">
        <h4>{{f.TypeOfLeave.FieldDisplayName}}</h4>
        <choice-field field="f.TypeOfLeave" id="TypeOfLeave" ng-disabled="formMode != 'New'" ng-required="f.WithPay.Value == 'Yes'"> </choice-field>
    </div>
    <div class="col-md-3 col-xs-6">
         <h4>{{f.WithPay.FieldDisplayName}}</h4>
         <radio-field field="f.WithPay" id="WithPay" ng-disabled="formMode != 'New'" ng-required="true"> </radio-field>
    </div>
    
</div>
<hr/><br><br>

<!-- MANAGER APPROVAL FIELDS:  -->
<div class="row fields" ng-show="formMode != 'New'">
    <div class="col-md-6 col-xs-6">
        <h4>{{f.ManagerApproval.FieldDisplayName}} </h4>
        <radio-field field="f.ManagerApproval" ng-disabled="ManagerCanEditNow != true" ng-required='ManagerCanEditNow'></radio-field>
    </div>
    <div class="col-md-6 col-xs-6">
        <h4>{{f.Manager.FieldDisplayName}}</h4>
        <span>{{f.Manager.user.Title}}</span>
    </div>
</div>

<div class="row fields" ng-show="formMode != 'New'">
    <div class="col-md-6 col-xs-6">
        <h4>{{f.ApproverComments.FieldDisplayName}}</h4>
        <textarea ng-model="f.ApproverComments.Value" ng-disabled="ManagerCanEditNow != true"></textarea>
    </div>

     <div class="col-md-6 col-xs-6" ng-show="moment(f.ApproverDate.Value).format('DD-MMMM-YYYY') != 'Invalid date'">
        <h4>Approval Date</h4>
            {{ moment(f.ApproverDate.Value).format('DD-MMMM-YYYY')}}
    </div>
</div>
<br><br>

<!-- OPTIONAL APPROVER FIELDS:  -->
<div ng-show="(StageNumber > 1)">
    <div class="row fields" ng-show="formMode != 'New' && f.OptionalApproverUser.Value">
        <div class="col-md-6 col-xs-6">
            <h4>{{f.OptionalApproval.FieldDisplayName}}</h4>
            <radio-field field="f.OptionalApproval" ng-disabled="OptionalApproverCanEditNow != true" ng-required='OptionalApproverCanEditNow'></radio-field>
        </div>
        <div class="col-md-6 col-xs-6">
            <h4>Optional Approver</h4>
            <span>{{f.OptionalApproverUser.user.Title}}</span>
        </div>
    </div>

    <div class="row fields" ng-show="formMode != 'New' && f.OptionalApproverUser.Value">
        <div class="col-md-6 col-xs-6">
            <h4>{{f.OptionalApproverComments.FieldDisplayName}}</h4>
            <textarea ng-model="f.OptionalApproverComments.Value" ng-disabled="OptionalApproverCanEditNow != true"></textarea>
        </div>

        <div class="col-md-6 col-xs-6" ng-show="moment(f.OptionalApproverDate.Value).format('DD-MMMM-YYYY') != 'Invalid date'">
            <h4>Approval Date</h4>
                {{moment(f.OptionalApproverDate.Value).format('DD-MMMM-YYYY')}}
        </div>
    </div>
</div>
<br><br>

<!-- ACCOUNTANT APPROVAL FIELDS:  -->
<div ng-show="(formMode != 'New') && (StageNumber > 2) ">
    <div class="row fields" >
        <div class="col-md-6 col-xs-6">
            <h4>{{f.AccountingApproval.FieldDisplayName}}</h4>
            <radio-field field="f.AccountingApproval" ng-disabled="AccountantCanEditNow != true" ng-required='AccountantCanEditNow' ></radio-field>
        </div>
        <div class="col-md-6 col-xs-6" ng-show="f.AccountingApprover.Value">
            <h4>Approved by</h4>
            {{f.AccountingApprover.Value}} 
        </div>
    </div> 

    <div class="row fields" ng-show="formMode != 'New'">
        <div class="col-md-6 col-xs-6">
            <h4>{{f.AccountingApproverComments.FieldDisplayName}}</h4>
            <textarea ng-model="f.AccountingApproverComments.Value" ng-disabled="AccountantCanEditNow != true"></textarea>
        </div>

        <div class="col-md-6 col-xs-6" ng-show="moment(f.AccountingApproverDate.Value).format('DD-MMMM-YYYY') != 'Invalid date'">
           <h4>Approval Date</h4>
            {{moment(f.AccountingApproverDate.Value).format('DD-MMMM-YYYY')}}
        </div>
    </div>

</div>

<!-- Boolean checkbox
    <div class="col-md-4"> 
        <h4>{{f.Boolean.FieldDisplayName}}</h4>
        <input id="{{f.Boolean.FieldInternalName}}" type="checkbox" ng-model="f.Boolean.Value" name="{{f.FieldInternalName}}" >
    </div>
 --><html xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882"><head>
<!--[if gte mso 9]><xml>
<mso:CustomDocumentProperties>
<mso:FSObjType msdt:dt="string">0</mso:FSObjType>
<mso:Order msdt:dt="string">500.000000000000</mso:Order>
<mso:FileDirRef msdt:dt="string">sites/forms/Assets/App/Forms/Absence</mso:FileDirRef>
<mso:ContentTypeId msdt:dt="string">0x010100C7B3FC0CCF96504A85183C2C7358BB4B</mso:ContentTypeId>
<mso:ContentType msdt:dt="string">Document</mso:ContentType>
<mso:FileLeafRef msdt:dt="string">absenceFields.html</mso:FileLeafRef>
</mso:CustomDocumentProperties>
</xml><![endif]-->
</head>